<%- include('partials/header.ejs') %>

class="container">
    <div class="row">
        <div class="col-12">
            <h1>Error</h1>
            <p>Ha ocurrido un error: <%= error %></p>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
